
.nav {
	width: 100%;
	padding: 1rem 1.5rem;
	background-color: rgba(240, 240, 240, 0.9);
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}
.nav-brand {
	font-weight: bold;
	letter-spacing: 2px;
}

#logout {
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: white;
	padding: 12px 20px;
	font-size: 1.25rem;
}
.user-data {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem
}